version: '3'
services:
    server:
        build:
            context: ../
            dockerfile: Dockerfile
        image: lpaas
        ports:
            - 8080:8080
        links:
            - mongodb
        depends_on:
            - mongodb
        environment:
            WAIT_HOSTS: mongodb:27017
        networks:
            - internal-network
    mongodb:
        container_name: mongodb
        image: mongo:6.0
        volumes:
            - ~/mongo:/data/db
        ports:
            - "27017:27017"
        environment:
          - MONGO_INITDB_ROOT_USERNAME=app_user
          - MONGO_INITDB_ROOT_PASSWORD=app_password
          - MONGO_INITDB_DATABASE=lpaas
        networks:
          - internal-network
networks:
  internal-network:
    driver: bridge
